@media (min-width: 970px) {
    /* p {
        width: 100%;
    } */
    
    footer {
        margin-top: 300px;
        padding: 50px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
        
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        margin-left: 320px;
        margin-right: 320px;
        
    }
    
    
    
    
    .icicon {
        /* margin-left: 450px; */
        /* width: 30%; */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .icicon img {
        margin-right: 27px;
        margin-left: 27px;
    }
    
    
}

@media (min-width: 471px) and (max-width: 969px) {
    
    
    footer {
        margin-top: 300px;
        padding: 50px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
    }
    
    .container {
        margin-top: 10px;
        
    }
    
    
    .icicon {
        margin-left: 450px;
        width: 30%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    
}

@media (max-width: 470px) {
    
    
    footer {
        margin-top: 300px;
        padding: 5px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
    }

    
    
    
    .icicon {
        margin-left: 100px;
        width: 60%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    
}
