@media (min-width: 970px) {
    
    
    footer {
        margin-top: 300px;
        padding: 50px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
        
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        margin-left: 320px;
        margin-right: 320px;
        
    }
    
    
    
    
    .icicon {
        
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .icicon img {
        margin-right: 27px;
        margin-left: 27px;
    }
    
    
}

@media (min-width: 550px) and (max-width: 969px) {
    
    
    footer {
        margin-top: 300px;
        padding: 50px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        margin-left: 80px;
        margin-right: 80px;
        
    }
    
    
    .icicon {
        margin-left: 400px;
        width: 30%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .icicon img {
        
        margin-left: -400px;
        
    }
    
    
}

@media (max-width: 549px) {
    
    
    footer {
        margin-top: 300px;
        padding: 5px 0;
        background-color: #182334;
        color: aliceblue;
        float: left;
        width: 100%;
    }

    .about p {
        font-size: 15px;
    }

    
    
    
    .icicon {
        margin-left: 80px;
        width: 60%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    
}
