
p {
    width: 100%;
}

footer {
    margin-top: 30%;
    padding: 50px 0;
    background-color: #182334;
    color: aliceblue;
}

.container {
    margin-top: 10px;
}

.aa {
    padding: 30px;
    font-size: 30px;
    color: white;
}

